.Button {
    background-color: #ffffff; /* Green */
    border: none;
    border-radius: 4px;
    color: #1F2535;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 0.4s;
}

.Button:hover {
    background-color: #ACC8E5; /* Green */
    color: #1F2535;
}
