.grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: 60vw;
    z-index: 1;
    background-color: #fff;
    margin-left: 3.75%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 120px 0;
}

.card img {
    width: 100px;
    margin-left: -10px;
}

.card h3 {
    margin-top: 15px;
    font-size: 22px;
}

.card p {
    font-size: 14px;
    margin-top: 5px;
    color: #747474;
}