.HeroContainer{
    background-color: #262C3B;;
    width: 100%;
    height: 700px;
}
.Title{
    margin-top: 0;
    color:white;
    margin-left: 60px;
    padding-top: 200px;
    font-size: 64px;
}
.Text{
    color:white;
    margin-left: 60px;
    padding-top: 25px;
    font-size: 25px;
}
