.Card > img{
    height: 140px;
    width: 140px;
   
   
}

.Card {
   padding: 10px 20px;
   display: flex;
   flex-direction: column;
 
}

.Card p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    width: 80%;
}

.Card h4 {
    font-size: 22px;
}

.Container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    margin-left: 30px;
}
