.nav {
  background-color: #202536;
  display: flex;
  justify-content: space-between;
  margin: 24px 24px 0px 24px;
}

.logo {
  margin-left: 80px;
  margin-top: 40px;
}

.burger {
  margin-right: 80px;
  margin-top: 40px;
}

.hero {
  height: 400px;
  padding: 36px 80px;
  margin: 0px 24px;
  background-color: #202536;
  color: white;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}


h1 {
  margin: 0px;
  font-size: 64px;
}

p{
  font-size: 18px;
}

button {
  color: #202536;
  width: auto;
  height: 64px;
  padding: 0px 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 30px
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px;
  margin-bottom: 80px;
}

.elem-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  max-width: 16%;
}

.elem-card h2 {
  color: #202536;
  font-size: 32px;
  margin-bottom: 0;
}

.elem-card p{
  color: #979797;
  margin-top: 0.5rem;
}

.elem-card img {
  display: block;
  position: relative;
  left: -20px;
  bottom: -20px;
}
