body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.backGroundTop {
  background-color: #1f2535;
  margin: 20px;
}

.svg {
  margin: 0px 50px 80px 50px;
  padding-top: 20px;
}

h1 {
  color: white;
  font-weight: bolder;
  font-size: 55px;
  margin: 0px 50px 0px 50px;
}

h5 {
  color: #1f2535;
}

.pbackGroundTop {
  margin: 10px 0px 50px 50px;
  font-size: 20px;
  color: #a7acb1;
}

.pAwesome {
  background-color: white;
  margin: 0px 0px 50px 50px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 18px;
  color: #1f2535;
  display: flex;
}

.backGroundBottom {
  background-color: white;
  margin: 100px 50px 60px 50px;
}

.section {
  padding: 20px;
  width: 20vw;
}

.section img {
  width: 110px;
  margin-bottom: 20px;
}

.section p {
  margin-bottom: 0px;
}
